@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@import "./styles/sideNav";
@import "./styles/name";
@import "./styles/homePage";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Oswald, sans-serif;
}

body {
  font-size: 1.6rem;
}
